/*=Typography=*/

html {
  font-size: 16px;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.col-md-2 {
  margin-left: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  max-width: 400px;
}

.col-md-3 {
  margin-left: 200px;
}  

.col-sm-12 {
text-align: center;
}

.main-heading {
  font-family: 'Orbitron';
  font-size: 96px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

h1 {
  padding-top: -1em;
}

h3 {
  padding-top: 1em;
  font-family: 'Orbitron';
  font-size: 18pt;
  text-align: center;
  color: #fff;
}

h4 {
  padding-top: .5em;
  font-family: 'Orbitron';
  font-size: 14pt;
  text-align: center;
  color: rgb(110, 2, 114);
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 14pt;
  text-align: justify;
  line-height: 1.5;
}

.sec-about p {
  text-align: justify;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: justify;
  font-size: 12pt;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 3em 0;
}

footer {
  padding: 1em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 1em;
  width: 7%;
}

/*=Layout=*/

.sec-about .row {
  margin-bottom: 1em;
}

.sec-about img {
  max-width: 100%;
}

.sec-folio {
  background: #f9f9f9;
}

.sec-folio .row {
  margin-bottom: 1em;
}

.sec-folio img {
  max-width: 100%;
}

.sec-main {
  position: relative;
  height: 400px;
  background: url(https://i.pinimg.com/originals/b4/bf/af/b4bfafa2dccc4cf3fe24f774b3f13b12.jpg) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px
}

.sec-services h2 {
  margin: 1em 0;
  font-size: 16pt;
  text-align: center;
}

/*Endorsements*/
.sec-testimonials p {
  text-align: left;
}

/*Contact*/

.sec-contact {
  background: #f9f9f9;
}
.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;
}
/*   
  @extend %transition;
  
  &:hover,
  &:focus {
    background: $red;
    border-color: darken($red, 10%);
  }
} */

/*Footer*/

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
  
  &:hover,
  &:focus {
    color: $red;
  }
}
