body {
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* background-image: url(../images/abstract-background-grey-260nw-102993086.webp); 
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover; */
  }


  /* Sections  */
.wrapper {
    width: 1170px;
    margin: 40px auto;
    position: static;
}

.img-area {
    width: 30%;
    float: left;
    /* background-color: whitesmoke */
}

.img-area img {
    width: 40%;
    box-shadow: 0 2px 20px rgba(0,0,0,0.9);
}

.tab-section {
    margin: 0px auto;
    padding-top: 0 1em;
    width: 65%;
    float: left;
}

.tab-area {
    position: relative;
    width: 100%;
    color: #000;
    height: auto;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label {
    background: #61516172;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    line-height: 2;
    padding: 0 0 0 1em;
    position: relative;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label:hover {
    background: #000;
    color: #fff;
}

.tab-content {
    background: #fff;
    max-height: 0p;
    height: 1200;
    overflow: auto;
    padding: 0 15px;
    -webkit-transition: max-height  .35s;
    -o-transition: max-height  .35s;
    transition: max-height  .35s;
    font-size: 24px;
    color: #262626;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* line-height: 34px; */
}

input:checked ~ .tab-content {
    max-height:  12em;
}

label:before,
label::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 90px;
    background-color: #fff;
    transition: transform 0.25s ease-out;
}

label:before {
    top: 8px;
    right: 25px;
    width: 3px;
    height: 20px;
    background: #fff;
}

label:after {
    top: 50%;
    right: 15px;
    width: 23px;
    height: 3px;
    background: #fff;
    margin-top: -2px;
}

/* projects */
.main-container {
    position: relative;

    /* padding-top: -20px */
  }
  
  .main-section {
    position: relative;
    height: 6000px;

  }
  
  .card {
    position: relative;
    float: left;
    width: 400px;
    height: 350px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: -20px;
    background-color: #67808d;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .card2 {
    position: relative;
    float: left;
    width: auto;
    height: 260px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: -20px;
    background-color: #67808d;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .card-img-top {
    position: relative;
    margin-top: 5px;
    width: 390px;
    overflow: hidden;
    height: 250px
  }
  
  .card-img-top2 {
    position: relative;
    margin-top: 9px;
    padding-bottom: 9px;
    width: 375px;
    overflow: hidden;
    height: 120px
  }
  .card-img-top3 {
    position: relative;
    margin-top: 1px;
    padding-bottom: 2px;
    width: 375px;
    overflow: hidden;
    height: 120px
  }
  
  .card-img-profile {
    position: relative;
    margin-top: 50px;
    width: auto;
    overflow: hidden;
  }
    
  .card h3{
    position: relative;
    width: auto;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #aa4a57
  }
    
  .card h4{
    position: relative;
    font-size: 13px;
    padding-top: 5px;
    color: white;
    text-align: center
  }
    
  .card h5{
    font-size: 10px;
    margin-top: 60px;
    padding-top: 5px;
    background-color: goldenrod;
    color: black;
    text-align: center
  }
  

/* responsive */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        width: 100%;
    }
    .img-area {
        width: 100%;
        float: none;
    }
    .tab-section {
        margin: 20px auto;
        padding: 0;
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width: 767px) {
    .wrapper {
        width: 100%;
    }
    .img-area {
        width: 100%;
        float: none;
    }
    .tab-section {
        margin: 20px auto;
        padding: 0;
        width: 100%;
        float: none;
    }
    .tab-content {
        line-height: 20px;
    }
}